.shopping-cart {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  height: 110px;

  &-title-button-container {
    display: flex;
    justify-content: space-between;
    &__title {
    }
    &__close-button {
      cursor: pointer;
    }
  }

  &-price-spinner-container {
    justify-content: space-between;
    display: flex;
    //margin-bottom: 5px;

    &__price {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 13px;
    }
    &__spinner {
      width: 20%;
      margin-top: 8px;
    }
  }

  &-total-cost-container {
    width: 372px;
    &__total-cost {
      font-size: 20px;
    }
  }
}
